body {
    margin: 0;
    overflow:hidden;
    transition-duration: 1s;
}

.slides {
    width: 400%;
    left: 0px;
    position: relative;
    transition-duration: 1s;
}

.slide {
    float: left;
    width: 25%;
    height: 100vh;
    transition-duration: 1s;
}

.slide-0 {
    background: url(../img/california.jpg);
    background-size: cover;
}

.slide-1 {
    background: url(../img/colorado.jpg);
    background-size: cover;
}

.slide-2 {
    background: url(../img/fresno.jpg);
    background-size: cover;
}

.slide-3 {
    background: url(../img/osu.jpg);
    background-size: cover;
}

.wrap {
    height: 100%;
    position: relative;
}

h1 {
    font-family: "Roboto Slab";
    font-weight: 900;
    font-size: 60px;
    color: white;
    position: absolute;
    bottom: 0%;
    right: 0;
    margin-right: 40px;
}

.logo {
    position: fixed;
}

.buttons {
    position: absolute;
    top: 50%;
    overflow: auto;
    width: 100%;
}

#left, #right {
    color: white;
    cursor: pointer;
    opacity: 0.5;
}

#left {
    float: left;
    margin-left: 20px;
}

#right {
    float: right;
    margin-right: 20px;
}

#left:hover, #right:hover {
    opacity: 1;
}

.dots {
    bottom: 10px;
    position: absolute;
    right: 50%;
    display: inline-block;
}

.point {
    cursor: pointer;
    color: white;
    opacity: 0.5;
}

.active, .point:hover {
    opacity: 1;
}

@media (max-width: 768px) {
   h1 {
       font-size: 24px;
       margin-right: 100px;
       margin-bottom: 30px;
   }

   .dots {
       font-size: 70%;
   }

   .logo {
       transform: scale(0.5);
   }
}

